[submodule "actuators/leesn-ig28et-stepper"]
	path = actuators/leesn-ig28et-stepper
	url = https://github.com/rnd-southerniot/leesn-stepper-control.git
[submodule "reference/qube-servo2-plant"]
	path = reference/qube-servo2-plant
	url = https://github.com/rnd-southerniot/qube-servo2-plant.git
[submodule "actuators/leesn-ig42et-stepper"]
	path = actuators/leesn-ig42et-stepper
	url = https://github.com/rnd-southerniot/leesn-ig42et-control.git
[submodule "actuators/mg513-gmr-nucleo-f401/src"]
	path = actuators/mg513-gmr-nucleo-f401/src
	url = https://github.com/rnd-southerniot/stm32-nucleo-gmr-encoder.git
